body {
   font-family: serif;
}

.question {
   border-top: solid 1.0mm;
   margin-top: 1.0em;
   padding-top: 0.5em;
   clear: both;
}

.button {
   border: none;
   color: #333333;
   background: #5FB551;
   margin-right: 0.5em;
}

.button:hover {
   border: none;
   background: #6ECA56;
}

.hanging {
   display: block;
   float: left;
   margin: 2px 6px 6px 4px;
}

label {
   width: 100px;
   margin: 2px 4px 6px 4px;
}

p { clear: left; }

div.ansresult > p {
   padding-top: 0.1em;
   padding-bottom: 0.1em;
   padding-left: 0.5em;
   padding-right: 0.5em;
}

.correct-ans {
   color: white;
   background-color: green;
   font-weight: bold;
}

.incorrect-ans {
   color: white;
   background-color: red;
   font-weight: bold;
}

fieldset { display:inline; }

div.banner {
   color: #eeeeee ;
   background-color: #5FB551;
}

h1.heading {
   padding: 0.2em;
   font-family: sans-serif;
   font-size: 1.5em ;
   font-weight: bold;
}

.heading-smaller {
   font-size: smaller;
}

.footer {
   padding: 0.2em;
   font-family: sans-serif;
   font-size: 1.0em ;
   font-weight: normal;
}

.banner-dark-text {
   color: #333333;
   font-size: smaller;
}

span.footer-right {
   float: right;
   width: auto;
   text-align: right;
}

.footer-right {
   font-family: sans-serif;
   font-weight: bold;
}

a:link.footer-right {
   color: #eeeeee;
   text-decoration: none ;
   font-size: smaller;
}

a:visited.footer-right {
   color: #eeeeee;
   text-decoration: none ;
   font-size: smaller;
}

img.problem {
   float: right;
   width: auto;
}
