.question {
   border-top: solid 1.0mm;
   margin-top: 1.0em;
   padding-top: 0.5em;
}

.button {
   border: none;
   background: #87A5C4;
}

.button:hover {
   border: none;
   background: #a5caef;
}

.hanging {
   display: block;
   float: left;
   margin: 2px 6px 6px 4px;
}

label {
   width: 100px;
   margin: 2px 4px 6px 4px;
}

p { clear: left; }

.correct-ans { color: green; }

.incorrect-ans { color: red; }

fieldset { display:inline; }

h1.banner { 
   font-family: sans-serif ;
   color: #eeeeee ;
   background-color: #87A5C4 ;
   padding: 0.5em ;
}

h1.heading { 
   font-size: 1.5em ;
}

h1.footer { 
   font-size: 1.0em ;
}
