label {
   font-family: Tahoma, Geneva, sans-serif ;
   width: 10em; 
   display: block;
   float: left;
   margin: 2px 4px 6px 4px;
   text-align: right;
   vertical-align: top;
}

input[type="text"], textarea {
   border: 1px solid black;
}

a.button {
   font-family: sans-serif;
   text-decoration: none;
   font-size: smaller;
   padding: 0em 0.5em 0em 0.5em;
}

