label {
   font-family: Tahoma, Geneva, sans-serif ;
   width: 10em; 
   display: block;
   float: left;
   margin: 2px 4px 6px 4px;
   text-align: right;
   vertical-align: top;
}

input[type="text"], textarea {
   border: 1px solid black;
}

