h3 {
   font-size: 1em ;
   font-weight: normal ;
}

div.features {
   font-size: .75em ;
   background-color: #E8EA7C ;
   float: right ;
   width: 25% ;
   padding-left: 2% ; 
   padding-right: 2% ; 
}

p.features {
   font-family: Tahoma, Geneva, sans-serif ;
   font-size: 1.3em ;
}

ul.features {
   list-style: square ;
   padding-left: 5% ;
}

li.features {
   margin-top: 1.0em;
}

A:link {
   color: #749BC1 ;
}

A:visited {
   color: #749BC1 ;
}
